@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');



body{
    background:url(img/img4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Recursive', sans-serif;   
}

.container{
    width: 650px;
    margin: 10% auto;
    background-color: rgba(3, 3, 3, 0.753);
}

.login-section{
    padding: 50px;
}

.login-section h2{
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    text-transform: uppercase;
}

.form{
    width: 95%;
    height: 30px;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.form-one{
    width: 45%;
    height: 30px;
    margin-left:6px;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.btn{
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    background-color: rgb(145, 30, 30);
}

.btn:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
    
}

a{
    margin-left: 10px;
}